In [30]:
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [31]:
data=pd.read_csv('Email Spam Detection.csv',encoding='latin-1')
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [32]:
#Removing unwanted Columns
data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)
data

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [33]:
data.shape

(5572, 2)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [35]:
#Checking for the duplicate values in the Dataframe
data.drop_duplicates(inplace=True)
print("Number of duplicate rows after cleaning:", data.duplicated().sum())

Number of duplicate rows after cleaning: 0

In [36]:
data.describe()

          v1                                                 v2
count   5169                                               5169
unique     2                                               5169
top      ham  Go until jurong point, crazy.. Available only ...
freq    4516                                                  1

In [37]:
#Checking missing values in the Dataset
missing_value=data.isnull().sum()
missing_value

v1    0
v2    0
dtype: int64

In [38]:
#To convert values in v2 to lower case of the DataFrame
data['v2']=data['v2'].apply(lambda x: x.lower())
data

        v1                                                 v2
0      ham  go until jurong point, crazy.. available only ...
1      ham                      ok lar... joking wif u oni...
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham  u dun say so early hor... u c already then say...
4      ham  nah i don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  this is the 2nd time we have tried 2 contact u...
5568   ham              will ì_ b going to esplanade fr home?
5569   ham  pity, * was in mood for that. so...any other s...
5570   ham  the guy did some bitching but i acted like i'd...
5571   ham                         rofl. its true to its name

[5169 rows x 2 columns]

In [39]:
#Function for preprocessing
def preprocess(text):
    #Removing non-alphabetical characters
    text=re.sub(r"[^a-zA-Z]", " ",text)
    
    #Tokenization and removal of stop words
    words=word_tokenize(text)
    stop_words=set(stopwords.words('english'))
    words=[word for word in words if word not in stop_words]
    return words

In [40]:
#Creating a new column for tokenized words
data['tokenized_text']=data['v2'].apply(preprocess)
data.head(15)

,v1,v2,tokenized_text
0,ham,"go until jurong point, crazy.. available only ...","[go, jurong, point, crazy, available, bugis, n..."
1,ham,ok lar... joking wif u oni...,"[ok, lar, joking, wif, u, oni]"
2,spam,free entry in 2 a wkly comp to win fa cup fina...,"[free, entry, wkly, comp, win, fa, cup, final,..."
3,ham,u dun say so early hor... u c already then say...,"[u, dun, say, early, hor, u, c, already, say]"
4,ham,"nah i don't think he goes to usf, he lives aro...","[nah, think, goes, usf, lives, around, though]"
5,spam,freemsg hey there darling it's been 3 week's n...,"[freemsg, hey, darling, week, word, back, like..."
6,ham,even my brother is not like to speak with me. ...,"[even, brother, like, speak, treat, like, aids..."
7,ham,as per your request 'melle melle (oru minnamin...,"[per, request, melle, melle, oru, minnaminungi..."
8,spam,winner!! as a valued network customer you have...,"[winner, valued, network, customer, selected, ..."
9,spam,had your mobile 11 months or more? u r entitle...,"[mobile, months, u, r, entitled, update, lates..."
10,ham,i'm gonna be home soon and i don't want to tal...,"[gon, na, home, soon, want, talk, stuff, anymo..."
11,spam,"six chances to win cash! from 100 to 20,000 po...","[six, chances, win, cash, pounds, txt, csh, se..."
12,spam,urgent! you have won a 1 week free membership ...,"[urgent, week, free, membership, prize, jackpo..."
13,ham,i've been searching for the right words to tha...,"[searching, right, words, thank, breather, pro..."
14,ham,i have a date on sunday with will!!,"[date, sunday]"